<h2>Demo Dynamic Mat Table</h2>
<!-- <app-time-picker></app-time-picker> -->
<!-- minimal use -->
<!-- <dynamic-mat-table tableName="demo_table" [columns]="fields" [dataSource]="dataSource"></dynamic-mat-table> -->

<app-simple-table></app-simple-table>
<!-- [alternativeRowStyle]="altRowStyle" -->
<!-- <mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Demo 1">
      <ng-template matTabContent>
        <app-full-features-dmt #demo1></app-full-features-dmt>
      </ng-template>
    </mat-tab>
    <mat-tab label="Demo 2">
      <ng-template matTabContent>
        <app-full-features-dmt #demo2></app-full-features-dmt>
      </ng-template>
    </mat-tab>
    <mat-tab label="Demo 3">
      <ng-template matTabContent>
        <app-full-features-dmt #demo3></app-full-features-dmt>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->
